@use "functions" as *;

@font-face {
  font-family: 'Free Pixel';
  src: url('/assets/FreePixel-Regular.woff2') format('woff2'),
      url('/assets/FreePixel-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$fonts: (
  w: (
    light: 300,
    regular: 400,
    bold: 700,
  ),
);

$type-scale: (
  small: (
    500: rem(22),
    600: rem(32),
    800: rem(47),
  ),
  
  large: (
    500: rem(30),
    600: rem(37),
    800: rem(58),
  ),
);
